doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="Find out which color Panasonic RP-HJE120 is cheapest on Amazon right now!")
		title Panasonic 120 💸👌
		link(rel="stylesheet", href="index.css")
		link(rel="manifest", href="manifest.json")
		link(rel="icon" href="favicon.png")
	body
		section.container
			p.large it’s the #[span.color] ones.
			p.small they’re #[span.price].
			p.small you should #[a.link buy some].
		script(src="cheapest.js")
		script(src="load.js")
