// imports
@import "reset";


@media print {
	html, body {
		min-height: unset !important;
		height: auto !important;
	}
}
html {
	@media (max-width: 640px) {
		font-size: 10px;
	}
}
html, body {
	min-height: 100vh;
}
body {
	font-family: "Helvetica", "Arial", sans-serif;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.container {
	padding: 2rem;
}
a {
	color: inherit;
}
p {
	text-transform: uppercase;
	font-weight: bold;
}
.large {
	font-size: 8rem;
	margin-bottom: 2rem;
}
.small {
	font-size: 4rem;
	margin-bottom: 2rem;
}
.black {
	color: black;
}
.blue {
	color: dodgerblue;
}
.green {
	color: green;
}
.orange {
	color: orange;
}
.pink {
	color: #DF4D92;
}
.red {
	color: red;
}
.silver {
	color: gray;
	-webkit-text-fill-color: white; // will override color
	-webkit-text-stroke-width: 0.2rem;
	-webkit-text-stroke-color: black;
}
.violet {
	color: slateblue;
}
