doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title 💦🔥 Panasonic 120 💸👌
		link(rel="stylesheet", href="index.css")
		link(rel="manifest", href="manifest.json")
	body
		section.container
			h1 it’s the #[span.color] ones.
			h2 they’re #[span.price].
			h2 you should #[a.link buy some].
		script(src="cheapest.js")
		script(src="load.js")
		
